@model MIS4200_tt240016.Models.Course

@{
    ViewBag.Title = "Course Details";
}

<h2>Details</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            Professor's Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professor.professorFull)
        </dd>

        <dt>
            Class
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Beginning Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beginDate)
        </dd>

        <dt>
            Ending Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.courseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
