@model MIS4200_tt240016.Models.Professor

@{
    ViewBag.Title = "Professor Details";
}

<h2>Professor Details</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            Professor First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professorFirst)
        </dd>

        <dt>
            Professor Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professorLast)
        </dd>

        <dt>
            Professor's Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professorEmaail)
        </dd>

        <dt>
            Professor's Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professorPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.professorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
