@model IEnumerable<MIS4200_tt240016.Models.Professor>

@{
    ViewBag.Title = "Professor Index";
}

<h2>Professor's Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Professor First Name
        </th>
        <th>
            Professor Last Name
        </th>
        <th>
            Professor's Email
        </th>
        <th>
            Professor's Phone
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.professorFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professorLast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professorEmaail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professorPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.professorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.professorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.professorID })
        </td>
    </tr>
}

</table>
