@model IEnumerable<MIS4200_tt240016.Models.Customer>

@{
    ViewBag.Title = "Customer List";
}

<h2>Customer Data</h2>

<p>
    @Html.ActionLink("Create New Customer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerSince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerSince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.customerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.customerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.customerID })
        </td>
    </tr>
}

</table>
